main{
    max-width: 1200px;
}
header {
    display: flex;
}
.logo {
    display: flex;
    justify-content: left;
    padding: 0 12em 0 0;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    margin-top: 4.5%;
    gap: 5em;
    padding: 0 7em 0 0;
}
.book img {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 0 1em 0 0;
}
.footer_shakes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  top: 10%;
  margin: 2%;
  margin-top: 0;
  margin-left: 8%;
}