.priser_grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    margin-left: -4em;
    gap: 2em;
}
.container_p{
    position: relative;
    width: 50%;
}
.container_p img {
    width: 190%;
    margin-left: 25%;
    height: auto;
}
.priser_grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
}
.under{
    font-family: "bryant-web-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 20px;
}
.aligncenter {
    text-align: center;
}

@media (max-width: 1150px) {   
.priser_grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: auto;
    width: 30%;
    margin-left: 32%;
    gap: 2em;
}
}