/* STYLE */
.under{
    font-family: "bryant-web-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 20px;
}
/* LAYOUT */
.priser_grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 8em;
    margin-left: 18%;
}
.priser_grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 6em;
    margin-left: 15%;
}
.container_p{
    position: relative;
    width: 50%;
}
.container_p img {
    width: 250%;
    height: auto;
}
.container_p .btn {
    position: absolute;
    top: 85%;
    left: 120%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #d1bea5;
    color: #293242;
    font-family: "bryant-web-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 12px 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #886941;
    cursor: pointer;
    border-radius: 20px;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
    text-align: right;
}
