main {
  background-color: #faf6f2;
}

footer {
  background-color: #ffffff;
}
h1 {
  text-align: center;
  color: #293242;
}

header {
  background-color: #293242;
  text-align: center;
}
.menubar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #293242;
}

.menubar li {
  display: inline-block;
  /* width: ; */
}

.menubar li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

body,
.menubar {
  padding: 0%;
  margin: 0%;
}
