body{
    background-color: #FAF6F2;
}
header{
    padding: 10px;
    text-align: center;
    background: #293242;
}
.logo img{
    width: 100px
}
.book img{
    width: 140px;
    justify-content: right;
    margin-top: 16%;
}
.min_side img{
    width: 140px;
    justify-content: right;
    margin-top: 18%;
}
h1{
    font-family: "miller-display", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
p{
    font-family: "bryant-web-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (min-width: 900px){
a{
    font-size: 24px;
    text-decoration: none;
    font-family: "bryant-web-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
}
      
a:link {
    color: white;
}
a:visited{
    color: white;
}
a:hover {
    color: #d1bea5;
}
}
